<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Classes for custom logger -->
    <type name="Flagship\Shipping\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Flagship\Shipping\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Flagship</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Flagship\Shipping\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Virtual Classes For Grids  -->
    <virtualType name="ShippingGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Flagship\Shipping\Model\ResourceModel\AddBoxes\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ShippingGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShippingGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shipping_listboxes_listing_data_source" xsi:type="string">Flagship\Shipping\Model\ResourceModel\AddBoxes\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Flagship\Shipping\Model\ResourceModel\AddBoxes\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">flagship_boxes</argument>
            <argument name="resourceModel" xsi:type="string">Flagship\Shipping\Model\ResourceModel\AddBoxes</argument>
        </arguments>
    </virtualType>

</config>
