<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Flagship_Shipping::settings"
            title="Plugin Settings"
            translate="title"
            module="Flagship_Shipping"
            sortOrder="10"
            resource="Flagship_Shipping::settings"
            parent="Flagship_Shipping::manage"
        />
        <add id="Flagship_Shipping::flagship"
            title="On FlagShip"
            translate="title"
            module="Flagship_Shipping"
            sortOrder="10"
            resource="Flagship_Shipping::flagship"
            parent="Flagship_Shipping::manage"
        />
        <add
            id="Flagship_Shipping::manage"
            title="FlagShip"
            translate="title"
            module="Flagship_Shipping"
            sortOrder="20"
            resource="Flagship_Shipping::manage"
        />
        <add
            id="Flagship_Shipping::configuration" 
            title="Configuration" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::settings"
            sortOrder="5" 
            action="shipping/config" 
            resource="Flagship_Shipping::config"
        />
        <add
            id="Flagship_Shipping::manage_shipments" 
            title="Manage Shipments" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::flagship"
            sortOrder="15" 
            action="shipping/manageshipments" 
            resource="Flagship_Shipping::shipments"
        />
        <add
            id="Flagship_Shipping::manage_pickups" 
            title="Manage Pickups" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::flagship"
            sortOrder="20" 
            action="shipping/managepickups" 
            resource="Flagship_Shipping::pickups"
        />
        <add
            id="Flagship_Shipping::create_pickups" 
            title="Create Pickups" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::flagship"
            sortOrder="25" 
            action="shipping/createpickup" 
            resource="Flagship_Shipping::createpickups"
        />
        <add
            id="Flagship_Shipping::list_boxes" 
            title="Packing Boxes" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::settings"
            sortOrder="45" 
            action="shipping/listboxes" 
            resource="Flagship_Shipping::listboxes"
        />
        <add
            id="Flagship_Shipping::show_log" 
            title="Display Logs" 
            translate="title" 
            module="Flagship_Shipping" 
            parent="Flagship_Shipping::settings"
            sortOrder="50" 
            action="shipping/showlog" 
            resource="Flagship_Shipping::showlog"
        />
    </menu>
</config>
