<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="flagship" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FlagShip Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Rates will not be available unless FlagShip is configured with a valid token</comment>
                </field>
                <field id="env" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Environment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Flagship token</label>
                </field>
                <field id="insurance" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Insure shipments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="residential" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Residential Shipments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="packing" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Packing Api</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="boxes" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Boxes(in,lbs)</label>
                    <frontend_model>Flagship\Shipping\Block\Adminhtml\Form\Field\Boxes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="taxes" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Include taxes in shipping prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="flat_fee" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Additional flat fee on courier rates</label>
                    <comment>Adds a fixed amount on top of shipping rates</comment>
                </field>
                <field id="markup" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Markup percentage on courier rates</label>
                    <comment>Adds a percentage on top of shipping rates</comment>
                </field>
                <!-- <field id="delivery_date" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Estimated Delivery Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <!-- <field id="logging" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <field id="allowed_methods" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Flagship\Shipping\Model\Carrier\FlagshipAllowedMethods</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>FlagShip token must be set to select courier values</comment>
                </field>
                
                <!-- <field id="shipper_address_company_name" translate="label" type="text" sortOrder="139" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Company Name</label>
                </field>
                <field id="shipper_address_name" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Name</label>
                </field>
                <field id="shipper_address_line1" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Address Line 1</label>
                </field>
                <field id="shipper_address_line2" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Address Line 2</label>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="shipper_address_city" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper City</label>
                </field>
                <field id="shipper_address_postal_code" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Postal Code</label>
                </field>
                <field id="shipper_address_country" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Country</label>
                    
                </field>
                <field id="shipper_address_province" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Province</label>
                </field>
                <field id="shipper_address_phone" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Phone</label>
                </field>
                <field id="shipper_address_email" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipper Email</label>
                    <can_be_empty>1</can_be_empty>
                    <validate>email</validate>
                    <comment>Shipper email will be used as tracking emails</comment>
                </field> -->
                <field id="sort_order" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
