<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add
        id="Flagship_Shipping"
        title="Flagship Settings"
        translate="title"
        module="Flagship_Shipping"
        sortOrder="20"
        action="shipping/settoken"
        resource="Flagship_Shipping::token"
      />
    </menu>
</config>
